body {
    margin: 0;
    padding: 0;
    font-family: 'Tajawal', sans-serif;
    
}

/*البداية*/
header {
    height: 64px;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.15);
    padding: 0 100px;
    position: relative;
}

/*المقدمة*/
.intro {
    display: flex;
    gap: 50px;
    align-items: center;
    justify-content: center;
    padding: 20px 20px;
    margin-left: 7%;
    text-align: center;
}
.intro a:hover{
    font-weight: 700;
    color: #605bFF;
}

/*الوغو*/
.logo {
    color: #605bFF;
    font-weight: bold;
    font-size: 20px;
    position: absolute;
    top:17px;
    right: 40px;
}

/*المقدمة*/

.intro a {
    text-decoration: none;
    color: #757575;
}
.intro img{
    width: 40px;
    height: 40px;
    position: absolute;
    top:13px;
    left:60px;
}
/* ملخص العمليات*/
.personal-information{
    width: 1050px;
    height: 400px;
    margin: 80px auto;

}
.personal-information-div{
    display: flex;
    gap:50px
}
.profile-page-links{
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-top: 30px;

}
.profile-page-links a{
    text-decoration: none;
    color:#020617;
    font-size: 19px;
    font-weight: 400;
}
.profile-page-links a:hover {
    background-color: #605bFF;
    color: #FFFFFF;
    width: 180px;
    height: 26px;
    border-radius: 8px;
    padding: 12px 10px;


}

.share-portfolio-cards .card{
   width: 394px;
   height: 142px;
   border-radius: 8px;
   border: 1px solid #615bffaa;
   margin-top: 20px;
   font-weight: 600;
   box-shadow: 0px 1px 2px 0px #0A0D120D;

} 
.cards{
    display: flex;
    gap: 30px;

}
/*card1*/
.card1 img{
   padding-top: 50px;
}

strong{
    font-size: 25px;
}
.card1  {
    display: flex;
    gap:100px;
    padding-right: 20px;
   
}
.share{
    padding-bottom: 20px;
    padding-top: 15px;
}
.card1 p{
    margin: 0;
}
/* card2*/
.card2{
    display: flex;
    gap:50px;
    padding-top:10px;
    padding-right: 20px;
}
.card2 p{
    margin: 0;
}
.price{
    font-size: 24px;
}

/* footer*/
footer {
    background: linear-gradient(rgb(21, 18, 91) 18.97%, rgb(24, 19, 156) 100%);
    color: white;
    padding: 50px 20px 20px 20px;
    margin-top: 70px;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    margin: auto;
    gap: 30px;
}

.footer-about {
    flex: 1 1 250px;
}

.footer-about button {
    background-color: #FFFFFF;
    color: #605bFF;
    padding: 13px 40px;
    font-size: 16px;
    font-weight: 600;
    border: none;
    border-radius: 7px;
    font-family: 'Tajawal', sans-serif;
}

.footer-links {
    flex: 1 1 150px;

}

.footer-links h4,
.footer-about h4,
.footer-social h4 {
    margin-bottom: 20px;
    font-size: 17px;
}

.footer-links ul {
    list-style: none;
    padding: 0;
}

.footer-links ul li {
    margin-bottom: 10px;

}

.footer-links ul li a {
    color: white;
    text-decoration: none;
    display: inline-block;
    transition: transform 0.3s ease, color 0.3s ease;
}

.footer-links ul li a:hover {
    color: #605bFF;
    transform: translateX(-5px);
}

.footer-social {
    flex: 1 1 150px;
}

.social-icons {
    display: flex;
    gap: 10px;
}


.social-icons a {
    width: 30px;
    height: 30px;
    padding: 5px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.1);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    cursor: pointer;
    text-decoration: none;
    transition: transform 0.4s ease;

}

.social-icons a:hover {
    transform: rotate(45deg);
}

.footer-line {
    width: 90%;
    height: 2px;
    background-color: #FFFFFF;
    margin: auto;
    margin-bottom: 10px;
    margin-top: 40px;
    opacity: 0.3;
}

.footer-bottom {
    text-align: center;
    font-size: 14px;
    opacity: 0.7;
}